# Lists
* are containers
  * holds 0+ items (e.g., egg carton)
    * e.g., grocery items (type: str)
    * e.g., bowling scores for a particular bowler (type: int)
    * e.g., names (type: str)
    * e.g., words (type: str)

In [6]:
# let's imagine that we want to enter and store bowling scores for multiple players
# get and store the bowler's names
# for each bowler:
#.   get and store bowling scores
#.   because players did not play the same no. of games, we'll enter 0 to mean no more scores
#.   ensure scores are between 1 and 300
names = 'Tanner Christy Dave'.split() # split the string into elements of a list

In [7]:
names

['Tanner', 'Christy', 'Dave']

In [12]:
bowling_scores = {
    'Tanner': [], 
    'Christy': [],
    'Dave': [],
}

In [14]:
bowling_scores['Christy'].append(235)

In [15]:
bowling_scores

{'Tanner': [], 'Christy': [235], 'Dave': []}

In [20]:
bowling_scores['Christy'].append(256)

In [21]:
bowling_scores

{'Tanner': [], 'Christy': [235, 256], 'Dave': []}

In [22]:
bowling_scores['Tanner'].append(bowling_scores['Christy'].pop())

In [23]:
bowling_scores

{'Tanner': [256], 'Christy': [235], 'Dave': []}

In [27]:
bowling_scores = {}

In [28]:
type(bowling_scores)

dict

In [29]:
len(bowling_scores)

0

In [30]:
# let's imagine that we want to enter and store bowling scores for multiple players
# 0. create an empty dict representing the score sheet
# 1. while we get a bowler name from the user and it's not ''
# 2.    add the name to the dict as a key, with the value of an empty list ([])
# 3. while the user enter something (not ''):
# 4.     get a bowler name and their score, e.g., "Tanner 207"
# 4a.    split name+score into a list so we can get at name separately from score
# 5.     validate player (name has to be IN the dictionary)
# 5a.         print error message if needed
# 6.     validate score (ensure 0 <= score <= 300)
# 6a.        print error message if needed
# 7.     append score to list associated with this player

In [38]:
scoresheet = {} # 0

# get name of bowler and put result into the name variable
name = input('Enter name of next bowler (hit RETURN when done): ') # 1

# as long as the name is not empty...
while name != '': # 1
    # add an entry in the dict where the key is 'name' and value is an empty list
    scoresheet[name] = [] # 2
    # get name of bowler and put result into the name variable
    name = input('Enter name of next bowler (hit RETURN when done): ') # 1

Enter name of next bowler (hit RETURN when done):  Tannr
Enter name of next bowler (hit RETURN when done):  Christy
Enter name of next bowler (hit RETURN when done):  Dave
Enter name of next bowler (hit RETURN when done):

In [39]:
scoresheet

{'Tannr': [], 'Christy': [], 'Dave': []}

# DRY = Don't Repeat Yourself

In [ ]:
scoresheet = {} # 0

# as long as the name is not empty...
while True: # infinite loop, never stops (unless we see a break later)
    name = input('Enter name of next bowler (hit RETURN when done): ') # 1
    if name == '': # middle test loop
        break
    # add an entry in the dict where the key is 'name' and value is an empty list
    scoresheet[name] = [] # 2

In [41]:
# if you have Python 3.8+, you can solve the above dilemma this way...
# we can use the "walrus operator"

In [53]:
scoresheet = {} # 0

while (name := input('Enter name of next bowler (hit RETURN when done): ')) != '':
    scoresheet[name] = [] # 2

In [67]:
# get name and score from user until they hit RETURN, signalling no more data/input
while (entry := input('Enter a bowler name followed by their score (hit RETURN when done): ')) != '': # 3, 4
    name_plus_score = entry.split() # 4a
    print('You entered', entry)
    print('I split that into', name_plus_score)
    if name_plus_score[0] in scoresheet: # 5
        if 0 <= int(name_plus_score[1]) <= 300: # 6
            scoresheet[name_plus_score[0]].append(int(name_plus_score[1])) # 7
        else:
            print(name_plus_score[1], 'does not seem to be a valid bowling score!')
    else:
        print(name_plus_score[0], 'is not one of the players!')

Enter a bowler name followed by their score (hit RETURN when done):  Christy 297

You entered Christy 297
I split that into ['Christy', '297']

Enter a bowler name followed by their score (hit RETURN when done):

Enter name of next bowler (hit RETURN when done):  Dave A.
Enter name of next bowler (hit RETURN when done):  Dave W.
Enter name of next bowler (hit RETURN when done):  Tanner
Enter name of next bowler (hit RETURN when done):  Christy
Enter name of next bowler (hit RETURN when done):

In [65]:
scoresheet

{'Dave A.': [], 'Dave W.': [], 'Tanner': [234, 203], 'Christy': [257, 200]}

In [51]:
scoresheet['Dave'] = []

In [52]:
scoresheet

{'Dave': []}

In [ ]:
# Christy 235
# Tanners 207
# Tanner 234
# Christy 254
# Dave 178
#

In [61]:
scoresheet

{'Dave A.': [], 'Dave W.': [], 'Tanner': [], 'Christy': []}

In [62]:
'Tanner' in scoresheet

True

In [63]:
'Theo' in scoresheet

False

In [68]:
name_plus_score

['Christy', '297']

In [69]:
name_plus_score[0]

'Christy'

In [71]:
int(name_plus_score[1])

297

In [62]:
number = int(input('Enter a number: '))
if number % 2 == 0:
    print(number, 'is even')
else:
    print(number, 'is odd')

Enter a number:  24

24 is even

In [6]:
string = '1 2 3'

In [7]:
string

'1 2 3'

In [8]:
int(string)

ValueError: invalid literal for int() with base 10: '1 2 3'

In [9]:
list_of_tings = [1, 2, 3]

In [10]:
len(list_of_tings)

3

In [11]:
len('Christy')

7

In [15]:
print([1,2,3])

[1, 2, 3]

In [16]:
print(1) # print int

1

In [17]:
print(1.1) # print float

1.1

In [18]:
print('1.1') # print string

1.1

In [21]:
name = input('Enter your name:')

Enter your name: dave

In [22]:
name

'dave'

In [23]:
name.upper() # upper() is a string method (function) which means it ONLY works on string

'DAVE'

In [25]:
x = 123
x.upper()

AttributeError: 'int' object has no attribute 'upper'

In [26]:
# goal is to modify the odd/even program to take a sequence of integers as input
# and tell the user one by one, whether they are odd or even
numbers = input('Enter some numbers: ')

Enter some numbers:  23 42 -113 8 0

In [27]:
numbers

'23 42 -113 8 0'

In [28]:
numbers.split() # generate a "splitted" list of each word in numbers

['23', '42', '-113', '8', '0']

In [29]:
numbers

'23 42 -113 8 0'

In [30]:
numbers = numbers.split()

In [31]:
numbers

['23', '42', '-113', '8', '0']

In [46]:
'alpha beta gamma'.split()

['alpha', 'beta', 'gamma']

In [33]:
numbers[-1]

'0'

In [37]:
numbers[0:3]

['23', '42', '-113']

In [38]:
# for / while
# while: when we don't know how many times to repeat something
# for: when we do know how many times / OR ... "for (each) thing in container"

In [40]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [45]:
for number in numbers:
    print(number, type(number))

23 <class 'str'>
42 <class 'str'>
-113 <class 'str'>
8 <class 'str'>
0 <class 'str'>

In [58]:
for number in numbers:
    number = int(number) # convert number to an integer and PUT IT BACK INTO the number var
    if number % 2 == 0:
        print(number, 'is even')
    else:
        print(number, 'is odd')

23 is odd
42 is even
-113 is odd
8 is even
0 is even

In [48]:
464

464

In [49]:
num = 464

In [50]:
num

464

In [51]:
string = '464'

In [54]:
int(string) # compute the integer version of string

464

In [53]:
string

'464'

In [55]:
input('hi? ')

hi?  bye!

'bye!'

In [56]:
response = input('hi? ')

hi?  bye!

In [57]:
response

'bye!'

In [60]:
for number in numbers:
    if int(number) % 2 == 0:
        print(number, 'is even')
    else:
        print(number, 'is odd')

23 is odd
42 is even
-113 is odd
8 is even
0 is even

In [65]:
# Let's write the odd-even program in a way that humans do it
number = input('Enter a number: ')

Enter a number:  54819

In [66]:
# get a number
# look at last digit
# if it's 1, 3, 5, 7, 9 odd
# else even
number[-1]

'9'

In [67]:
if number[-1] == '9' or number[-1] == '7':
    print('odd')

odd

In [68]:
digits = {
    '0': 'even',
    '1': 'odd',
    '2': 'even',
}

In [94]:
digits = {} # empty dictionary

In [75]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [95]:
for num in range(0, 10, 2):
    digits[num] = 'even'
for num in range(1, 10, 2):
    digits[num] = 'odd'

In [96]:
digits

{0: 'even',
 2: 'even',
 4: 'even',
 6: 'even',
 8: 'even',
 1: 'odd',
 3: 'odd',
 5: 'odd',
 7: 'odd',
 9: 'odd'}

In [100]:
number = input('Enter a number: ')
print('last digit is', number[-1], "and it's a", type(number[-1]))

Enter a number:  516

last digit is 6 and it's a <class 'str'>

In [103]:
last_digit = int(number[-1])
print('last digit is', last_digit, "and it's a", type(last_digit))

last digit is 6 and it's a <class 'int'>

In [105]:
print(digits[last_digit])

even

In [106]:
digits = {}
for num in range(0, 10, 2):
    digits[num] = 'even'

In [107]:
digits

{0: 'even', 2: 'even', 4: 'even', 6: 'even', 8: 'even'}

In [108]:
if 6 in digits:
    print('even')
else:
    print('odd')

even

In [114]:
even_digits = []
for num in range(0, 10, 2):
    even_digits.append(str(num))

In [117]:
even_digits

['0', '2', '4', '6', '8']

In [111]:
# 487
if 7 in even_digits:
    print('even')
else:
    print('odd')

odd

In [119]:
num = '487'

In [120]:
num[-1]

'7'

In [121]:
num[-1] in even_digits

False

In [136]:
num = input('Enter a number: ')
if num[-1] in '13579':
    print('odd')
elif num[-1] in '24680':
    print('even')
else:
    print('not a number')

Enter a number:  dave

not a number

In [125]:
1 in 123

TypeError: argument of type 'int' is not iterable

In [ ]:
# Kaprekar Number

In [137]:
num = input('Enter a 4-digit number: ')

Enter a number:  12344

In [138]:
len(num)

5

In [140]:
digits = ['1', '2', '5', '4', '3']

In [141]:
sorted(digits)

['1', '2', '3', '4', '5']

In [142]:
sorted(digits, reverse=True)

['5', '4', '3', '2', '1']